<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733759856872-guv6jjgt2pu84hcdedje4ehtjmare45h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733759856872-guv6jjgt2pu84hcdedje4ehtjmare45h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>733759856872-37e86cq8ib773jmivobo985s951inhgs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdPVPH8x15v-LwSgbOCwgHoF27VZY9ick</string>
	<key>GCM_SENDER_ID</key>
	<string>733759856872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhinav.store</string>
	<key>PROJECT_ID</key>
	<string>abhinav-farmers-club</string>
	<key>STORAGE_BUCKET</key>
	<string>abhinav-farmers-club.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733759856872:ios:31be9c90ebe3f5931c695d</string>
</dict>
</plist>